.logo img {
    display: block;
    margin-left: 37%;
    margin-right: 37%;
    max-width: 25%;
    height: auto;
}
.search input {
    margin: 0 30% 0 30%;
    width: 40%;
    padding: 10px;
}
.buttons {
    margin: auto; 
    width: 15%;
    padding: 10px;
}
.words p {
    text-align: center;
}
.left {
    float: left;
}
.right {
    float: right;
}
.footer {
    margin: 25% 0 0 0;
}
