img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.search {
    position: relative;
    right: 50px;
    bottom: 100px;
    width: 600px;
}
.buttons {
    position: relative;
    right: 50px;
    bottom: 150px;
}
.words p {
    text-align: center;
}